.vscode/
/_build
/.elixir_ls
/cover
/deps
/apps/*/cover
erl_crash.dump
*.ez
.idea
*.iml
.DS_Store
apps/neoscan/block_cache
block_cache
apps/neoscan_web/assets/static/docs/api.apib
apps/neoscan_web/assets/static/docs/index.html
