/* This file is for your main application css. #222248*/

.main-background {
  background-image: url(/images/background-texture.png);
  height: 100%;
  width: 100%;
}

.content-background {
  background-color: #2A2B59;
}

.white-text {
  color:white;
}

h1.white-text {
  color:white;
}

a.navbar-item:not(.button) {
  color: #7B80A6;
  text-decoration: none;
}

a.navbar-item:not(.button):hover {
  background-color: #3b3d7a;
  color: #FFFFFF;
  border-bottom: white solid 2px;
}

a {
  color: #7B80A6;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
}

a.link {
  color: #00d1b2;
  overflow-wrap: break-word;
}

a.link:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.sans-font {
  font-family: "Open Sans",Arial,sans-serif;
}

.sans-coz {
  font-family: 'Orbitron',sans-serif;
}

.coz-logo {
  height: 30px;
}

.neoscan-title {
  font-size: 2rem;
  height: -webkit-fill-available;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #FFFFFF;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFFFFF;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FFFFFF;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #FFFFFF;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #FFFFFF;
}

.fill-all {
  height: fit-content;
}

.no-padding-top {
  padding-top: 0;
}

.navbar-burguer {
  background-color: #7B80A6;
}

.navbar {
  border-bottom: 1px solid white;
}

.break-word {
  overflow-wrap: break-word;
}

strong {
  font-weight: 500;
}

.transparent {
  background-color: transparent;
}

.min-height-is-available {
  min-height: -webkit-fill-available;
}

.ad {
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.text-center {
  text-align: center;
}
