/*-- Chart --*/
.c3 svg {
  font: 10px sans-serif;
  -webkit-tap-highlight-color: transparent;
  color: #ffffff;
}

.c3 path, .c3 line {
  fill: none;
  stroke: #424282;
  stroke-width: 2;
}

.c3 text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.c3-legend-item-tile,
.c3-xgrid-focus,
.c3-ygrid,
.c3-event-rect,
.c3-bars path {
  shape-rendering: crispEdges; }

.c3-chart-arc path {
  stroke: #fff;
}
.c3 text {
  fill: #fff;
}
.c3-chart-arc text {
  fill: #fff;
  font-size: 13px;
}

/*-- Axis --*/
/*-- Grid --*/
.c3-grid line {
  stroke: #ffffff; }

.c3-grid text {
  fill: #ffffff; }

.c3-xgrid, .c3-ygrid {
  stroke-dasharray: 3 3; }

/*-- Text on Chart --*/
.c3-text.c3-empty {
  fill: #ffffff;
  font-size: 2em; }

/*-- Line --*/
.c3-line {
  stroke-width: 1px; }

/*-- Point --*/
.c3-circle._expanded_ {
  stroke-width: 1px;
  stroke: white; }

.c3-selected-circle {
  fill: white;
  stroke-width: 2px; }

/*-- Bar --*/
.c3-bar {
  stroke-width: 0; }

.c3-bar._expanded_ {
  fill-opacity: 1;
  fill-opacity: 0.75; }

/*-- Focus --*/
.c3-target.c3-focused {
  opacity: 1; }

.c3-target.c3-focused path.c3-line, .c3-target.c3-focused path.c3-step {
  stroke-width: 3px; }

.c3-target.c3-defocused {
  opacity: 0.3 !important; }

/*-- Region --*/
.c3-region {
  fill: steelblue;
  fill-opacity: .1; }

/*-- Brush --*/
.c3-brush .extent {
  fill-opacity: .1; }

/*-- Select - Drag --*/
/*-- Legend --*/
.c3-legend-item {
  font-size: 12px; }

.c3-legend-item-hidden {
  opacity: 0.15; }

.c3-legend-background {
  opacity: 0.75;
  fill: white;
  stroke: lightgray;
  stroke-width: 1; }

/*-- Title --*/
.c3-title {
  font: 14px sans-serif; }

/*-- Tooltip --*/
.c3-tooltip-container {
  z-index: 10; }

.c3-tooltip {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #181835;
  background: #181835;
  empty-cells: show;
  opacity: 1.0;
  }

.c3-tooltip tr {
  border: 1px solid #BEEB00; }

.c3-tooltip th {
  background-color: #181835;
  font-size: 14px;
  padding: 2px 5px;
  text-align: left;
  color: #FFF; }

.c3-tooltip td {
  font-size: 10px;
  padding: 3px 6px;
  background-color: #181835;
  border-left: 1px dotted #999; }

.c3-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px; }

.c3-tooltip td.value {
  text-align: right; }

/*-- Area --*/
.c3-area {
  stroke-width: 0;
  opacity: 0.2; }

/*-- Arc --*/
.c3-chart-arcs-title {
  dominant-baseline: middle;
  font-size: 1.3em; }

.c3-chart-arcs .c3-chart-arcs-background {
  fill: #e0e0e0;
  stroke: none; }

.c3-chart-arcs .c3-chart-arcs-gauge-unit {
  fill: #000;
  font-size: 16px; }

.c3-chart-arcs .c3-chart-arcs-gauge-max {
  fill: #777; }

.c3-chart-arcs .c3-chart-arcs-gauge-min {
  fill: #777; }

.c3-chart-arc .c3-gauge-value {
  fill: #000;
  /*  font-size: 28px !important;*/ }

.c3-chart-arc.c3-target g path {
  opacity: 1; }

.c3-chart-arc.c3-target.c3-focused g path {
  opacity: 1; }


.c3-axis-y text {
   font-family: 'Source Sans Pro', sans-serif;
   fill: #E6ECF2;
   font-size:12px;
}
.c3-axis-x text {
	font-family: 'Source Sans Pro', sans-serif;
    font-size:12px;
    fill:#E6ECF2;
    padding-right: 10px;
}

 .c3-shape {
	 fill:#E6ECF2;
}

.c3-shapes > circle {
    transition: all .2s ease-in-out;
}
.c3-ygrid {
  stroke-dasharray: 0;
  opacity: .2;
  stroke-width: 1!important;
}
.c3-xgrid-focus {
  stroke: #bfeb00!important;
}

._expanded_ {
  transition: all .2s ease-in-out;
  stroke: rgba(255, 255, 255, 0.6)!important;
  stroke-width: 4;
}

.chart-tooltip {
  border-radius: 2px;
  padding: 10px 20px;
  background: rgba(35, 35, 73, .75);
  color: #fff;
  border: 2px solid #BEEB00;
  font-size: 12px;
}
.tooltip-xlabel {
  width: 100%;
  text-align: center; 
  display: block;
  padding-bottom: 10px;
}
.tooltip-neolabel:before {
  content: "\f15a";
  position: absolute;
  font-family: FontAwesome;  
  font-weight: light;
  font-size: 11px;
  padding-right: 10px;
  left: 0;
}
.tooltip-gaslabel:before {
  content: "$";
  position: absolute; 
  font-weight: light;
  font-size: 12px;
  margin-right: 12px;
  left: 10px;
}
.tooltip-neolabel,
.tooltip-gaslabel {
  position: relative;
  width: 50%;
  display: inline-block;
  text-align: center;
}
