<!DOCTYPE html>
<html lang="en" class="min-height-is-available">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/x-icon" href="<%= static_path(@conn, "/favicon.ico") %>" >
    <title>CoZ - NeoScan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Orbitron" />
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

</head>

  <body class="main-background min-height-is-available fill-all">
    <section class="hero transparent">
      <!-- Hero header: will stick at the top -->
      <div class="hero-head">
        <nav class="navbar transparent">
          <div class="navbar-brand">
            <a class="navbar-item white-text sans-coz" href="/">
                <img class="coz-logo" src="<%= static_path(@conn, "/images/coz.png")%>"></img>
                &nbspNeoScan
            </a>

            <div class="button navbar-burger" data-target="Options">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>

          <div class="navbar-menu" id="Options">
            <div class="navbar-end">
              <a  class="navbar-item" href="<%= home_path(@conn, :index) %>">Explorer</a>
              <a  class="navbar-item" href="<%= assets_path(@conn, :index) %>">Assets</a>
              <a  class="navbar-item" href="<%= contracts_path(@conn, :index) %>">Contracts</a>
              <a  class="navbar-item" href="<%= doc_path(@conn, :index) %>" >API</a>
              <a  class="navbar-item" href="https://github.com/CityOfZion/NEOScan">GitHub</a>
              <a  class="navbar-item" href="https://neoscan-testnet.io">TestNet</a>
            </div>
          </div>
        </nav>
      </div>
    </section>


    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <footer class="footer transparent">
      <div class="container">
        <div class="content has-text-centered white-text">
          <p>
            <h1 class="white-text sans-coz">
                <img class="coz-logo" src="<%= static_path(@conn, "/images/coz.png")%>"></img>
                &nbspNeoScan
            </h1> by <a class="link" href="http://cityofzion.io/">CityOfZion</a> community. The source code is licensed
            <a class="link" href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a class="link" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
          </p>
          <p>
            <a class="link" class="icon" href="https://github.com/CityOfZion">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
